Repository pyscript/pyscript, pull requests merged in 2022-06, with the labels that each got.

#489 Fix extensions regression bug
  pyscriptjs/src/components/base.ts
  pyscriptjs/src/components/pybutton.ts
  pyscriptjs/src/components/pyinputbox.ts
Labels: tag: component

#545 Fix inconsistencies and reduce verbosity in examples/index.html
  examples/index.html
Labels: tag: example

#548 add diataxis info to docs readme
  docs/Makefile
  docs/README.md
  docs/img/diataxis.png
Labels: tag: docs
