Repository pyscript/pyscript, pull requests merged in 2023-03, with the labels that each got.

#1106 Add REPL plugin hooks; Add `output`, `output-mode`, `stderr` attributes
  docs/changelog.md
  docs/reference/elements/py-repl.md
  pyscriptjs/src/components/elements.ts
  pyscriptjs/src/components/pyrepl.ts
  pyscriptjs/src/main.ts
  pyscriptjs/src/plugin.ts
  pyscriptjs/src/plugins/stdiodirector.ts
  pyscriptjs/tests/integration/test_plugins.py
  pyscriptjs/tests/integration/test_py_repl.py
  pyscriptjs/tests/py-unit/conftest.py
Labels: tag: repl, tag: plugins

#1310 Make repl hooks optional
  pyscriptjs/src/plugin.ts
Labels: tag: repl, tag: plugins

#1258 synclink integration
  pyproject.toml
  pyscriptjs/.eslintrc.js
  pyscriptjs/Makefile
  pyscriptjs/jest-environment-jsdom.js
  pyscriptjs/jest.config.js
  pyscriptjs/package-lock.json
  pyscriptjs/package.json
  pyscriptjs/src/components/pyrepl.ts
  pyscriptjs/src/components/pyscript.ts
  pyscriptjs/src/components/pywidget.ts
  pyscriptjs/src/exceptions.ts
  pyscriptjs/src/interpreter_client.ts
  pyscriptjs/src/main.ts
  pyscriptjs/src/plugin.ts
  pyscriptjs/src/plugins/importmap.ts
  pyscriptjs/src/plugins/python/py_markdown.py
  pyscriptjs/src/plugins/stdiodirector.ts
  pyscriptjs/src/pyexec.ts
  pyscriptjs/src/python/pyscript/__init__.py
  pyscriptjs/src/remote_interpreter.ts
  pyscriptjs/tests/integration/conftest.py
  pyscriptjs/tests/integration/support.py
  pyscriptjs/tests/integration/test_00_support.py
  pyscriptjs/tests/integration/test_01_basic.py
  pyscriptjs/tests/integration/test_02_display.py
  pyscriptjs/tests/integration/test_assets/line_plot.png
  pyscriptjs/tests/integration/test_async.py
  pyscriptjs/tests/integration/test_interpreter.py
  pyscriptjs/tests/integration/test_plugins.py
  pyscriptjs/tests/integration/test_py_repl.py
  pyscriptjs/tests/integration/test_stdio_handling.py
  pyscriptjs/tests/integration/test_zz_examples.py
  pyscriptjs/tests/py-unit/test_python_plugins.py
  pyscriptjs/tests/unit/main.test.ts
  pyscriptjs/tests/unit/pyodide.test.ts
Labels: sprint

#1330 Deprecate `py-mount` Attribute
  docs/changelog.md
  docs/development/deprecation-cycle.md
  examples/handtrack/say_hello.html
  examples/mario/play_mario.html
  pyscriptjs/src/components/pyscript.ts
  pyscriptjs/tests/integration/test_01_basic.py
Labels: status: ready, tag:deprecation
